
:root {
    --primary-font: 'Roboto', sans-serif;
    --title-color: #2E2F42;
    --text-color: #434455;
    --between-letters: 0.02em;
    --titleh2-size: 36px;
    --titleh3-size: 20px;
    --textp-size: 16px;
    --height-line: 24px;
    --heighth2-line: 40px;
}

body {
    font-family: var(--primary-font);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Tangerine', cursive;
    
    color: var(--title-color);
    color: var(--text-color);
    letter-spacing: var(--between-letters);
    font-size: var(--titleh2-size);
    font-size: var(--titleh3-size);
    font-size: var(--textp-size);
    line-height: var(--height-line);
    line-height: var(--heighth2-line);

}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-span {
    color: #4D5AE5;
}

.nav-link {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
}


.nav-link:focus,
.nav-link:hover {
    color: #404BBF;
}

.contacts-link {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}
.contacts-link:focus,
.contacts-link:hover {
    color: #404BBF;
}


.footer {
        background: #2E2F42;
}

.footer-text {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.main-title {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.section-main {
    
    background: #2E2F42;
}

.main-button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.main-button:hover {
    background: #404BBF;
}

.title-name {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: var(--titleh3-size);
    line-height: var(--height-line);
    text-align: center;
    letter-spacing: var(--between-letters);
    color: var(--title-color);
}
 
.text-description {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: var(--textp-size);
    line-height: var(--height-line);
    letter-spacing: var(--between-letters);
    color: var(--text-color);
}

.title-subject {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: var(--titleh2-size);
    line-height: var(--heighth2-line);
    text-align: center;
    letter-spacing: var(--between-letters);
    text-transform: capitalize;
    color: var(--title-color);
}

.menu-one-button {
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: var(--textp-size);
    line-height: var(--height-line);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.menu-button {
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: var(--textp-size);
    line-height: var(--height-line);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
}