body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Tangerine', cursive;
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-span {
    color: #4D5AE5;
}

.nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}


.nav-link:focus,
.nav-link:hover {
    color: #404BBF;
}

.contacts-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.contacts-link:focus,
.contacts-link:hover {
    color: #404BBF;
}


.footer {
        background: #2E2F42;
}

.footer-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.main-title {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.section-main {
    
    background: #2E2F42;
}

.main-button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.main-button:hover {
    background: #404BBF;
}
